body {
    margin: 30px;
    color: #283655;
}

input {
    border: 1px solid;
}

.hidden {
    display: none;
}

.task_form {
    padding: 0pc 10px 10px 10px;
    border: 1px solid #4D6448D;
}

.task_form form {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.task_form input[type="date"], select{
    width: 150px;
}

.tasklist table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}
